<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileLoader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />    
    <link rel="stylesheet" href="~/FileLoader.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">FileLoader</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="~/img/ProfilePhoto.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>Luis Chinchilla</strong>
                        </span>
                        <span class="user-role">Administrador</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Carga Archivos</span>

                            </a>
                         
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="Cliente" asp-controller="CargaArchivos" asp-action="Create">
                                            FOCREDE
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a asp-area="Cliente" asp-controller="CargaArchivos" asp-action="Index">
                                <i class="fa fa-chart-line"></i>
                                <span>Dashboard</span>
                            </a>                            
                        </li>

                        <li class="header-menu">
                            <span>Administrador</span>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Usuarios" asp-action="Register">
                                <i class="fa fa-book"></i>
                                <span>Usuarios</span>

                            </a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->

        <main class="page-content">
            <div class="container">
                <!--*************************  cuerpo *******************-->               
                <hr>
                @RenderBody()
                <hr />
                <footer class="main-footer">
                    <div class="float-end d-none d-sm-block">
                        <b>Version</b> 1.0.0
                    </div>
                    <p class="text-center">
                        <img src="~/img/FooterLogo.png" class="rounded" style="width:2% !important;height:3% !important" />
                        Copyright <i class="fas fa-copyright"></i> @DateTime.Now.Year All rights reserved |
                        <a href="#">Planificación y Desarrollos Contables</a>
                    </p>

                </footer>
            </div>
        </main>

    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>        
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<div id="PopUp" class="modal"
     style="display:none;
                    background-color: Black;
                    filter: alpha(opacity=60);
                    opacity: 0.6;">

    <div class="justify-content-center align-content-center d-flex">

        <img src="~/img/Loading2.gif" style="
                 width: 150px;
                    height: 150px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -75px;
                    margin-left: -75px;  " />

        <span class=" h4 text-white-50 text-center mt-1"
              style=" position: absolute;
                    top: 70%;
                    left: 52%;
                    margin-top: -75px;
                    margin-left: -75px;
                      ">
            Procesando Información...
        </span>
    </div>
</div>

<script>
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });




    });    
</script>
